@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}



@font-face {
    font-family: 'itim';
    /*memberikan nama bebas untuk font*/
    src: url('font/Itim/Itim-Regular.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
    font-family: 'open-Sans';
    /*memberikan nama bebas untuk font*/
    /* src: url('/font/Open_Sans/static/OpenSans-Bold.ttf');
    src: url('/font/Open_Sans/static/OpenSans-ExtraBold.ttf');
    src: url('/font/Open_Sans/static/OpenSans-Light.ttf');
    src: url('/font/Open_Sans/static/OpenSans-Medium.ttf'); */
    src: url('/font/Open_Sans/static/OpenSans-Regular.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}