@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

}

@font-face {
    font-family: 'balsamiq';
    src: url(../font/BalsamiqSans-Regular.ttf);
}

.balsamiq {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 500;
}

.fredoka {
    font-family: 'Fredoka', sans-serif;
}


/* bg glass navbar */
.bg-nav {
    background: rgba(12, 12, 12, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(12, 12, 12, 0.25);
}



/* scroll bar style custom */
::-webkit-scrollbar {
    width: 15px;
    background-color: #FC3535;

}

::-webkit-scrollbar-thumb {
    background-color: #FC3535;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: rgb(249, 242, 241);
}