.produk1 {
    background-image: url(../asset/produk/produk1.jpg);
}

.lapis {
    background-image: url(/asset/produk/lapis.webp);
}

.keripikS {
    background-image: url(../asset/produk/keripik.webp);
}

.makaroni {
    background-image: url(../asset/produk/makaroni.webp);
}


.mochi {
    background-image: url(/asset/produk/mochi.jpg);
}

.milidi {
    background-image: url(../asset/produk/milidi.jpg);
}

.risol {
    background-image: url(../asset/produk/risol.jpg);
}

.kebab {
    background-image: url(../asset/produk/kebab.jpg);
}

.papeda {
    background-image: url(../asset/produk/papeda.webp);
}

.basreng {
    background-image: url(../asset/produk/basreng.webp);
}

.sosis {
    background-image: url(../asset/produk/sosis.webp);
}

.cireng {
    background-image: url(../asset/produk/cireng.jpg);
}

.salad-buah {
    background-image: url(../asset/produk/salad-buah.webp);
}

.dinsum {
    background-image: url(../asset/produk/dinsum.jpg);
}

.burger {
    background-image: url(../asset/produk/burger.jpg);
}